<div class="container mt-4">
  <h2 class="text-center">Lista de Animais</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let animal of animals">
      <div class="card mb-4">
        <!-- Exibe a imagem do animal se animal.animalPic estiver definido -->
        <ng-container *ngIf="animal.animalPic">
          <img [src]="animalPicUrl" (click)="loadAnimalPic(animal.id)" class="card-img-top" alt="{{animal.animalName}}">
        </ng-container>
        <div class="card-body">
          <h5 class="card-title">{{ animal.animalName }}</h5>
          <p class="card-text"><strong>Tipo:</strong> {{ animal.animalType }}</p>
          <p class="card-text"><strong>Raça:</strong> {{ animal.breed }}</p>
          <p class="card-text"><strong>Cor:</strong> {{ animal.color }}</p>
          <p class="card-text"><strong>Data de Nascimento:</strong> {{ animal.animalAge | date }}</p>
          <p class="card-text"><strong>Data de Resgate:</strong> {{ animal.rescueDate | date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
