<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://trello.com/1/cards/65e8eabc5d819c5182da9004/attachments/65f38beb30e3dcc81ebe6338/previews/65f38bec30e3dcc81ebe63ed/download/logo-2.png" alt="Logo" width="60" height="30" class="d-inline-block align-text-top">
      CarrocinhaDoBem
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pet-cadastro']">Cadastrar Pets</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
