<body>

<div class="bg-dark text-white text-center py-5">
    <div class="container">
        <img src="../../../assets/logo-amarelo.svg" height="150" alt="Carrocinha Do Bem" loading="lazy" class="mb-4 rounded-circle">
        <h1 class="display-4">Carrocinha Do Bem</h1>
        <p class="lead">ONG de adoção de animais</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="text-white" href="#!">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="text-white" href="#!">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="text-white" href="#!">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase">Contato e Endereço</h5>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <p><b>Endereço:</b> R. Imac. Conceição, 1155 - Prado Velho | Curitiba - PR, 80215-901</p>
                        </li>
                        <li class="mb-3">
                            <p><b>Telefone:</b> <a href="tel:+5541985321225">+55 (41) 9 8532-1225</a></p>
                        </li>
                        <li class="mb-3">
                            <p><b>WhatsApp:</b> <a href="tel:+5541985321225">+55 (41) 9 8532-1225</a></p>
                        </li>
                        <li class="mb-3">
                            <p><b>SAC:</b> <a href="tel:+5541985321225">+55 (41) 9 8532-1225</a></p>
                        </li>
                        <li class="mb-3">
                            <p><b>E-mail:</b> <a href="mailto:suporte@carrocinha.com.br">suporte&#64;carrocinha.com.br</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
