<div class="card">
  <form [formGroup]="form">
    <p-toast key="tst"></p-toast>

    <h5>Cadastre um novo Pet para adoção ;)</h5>

    <p>
      O cadastro só é permitido para membros da organização
      (
      <mark>Administradores, gerentes, colaboradores</mark>
      ).
    </p>

    <div class="flex flex-column p-fluid mt-3 py-5 px-2 gap-3">

      <div class="field w-full">
            <span class="p-float-label">
                <input
                  type="text"
                  id="inputtext"
                  pInputText
                  [(ngModel)]="name"
                  formControlName="name"
                  pattern="[a-zA-Z]+"
                  [class]="{ 'ng-dirty ng-invalid': f['name'].invalid && (f['name'].dirty || f['name'].touched) }"
                />
                <label for="inputtext">Nome</label>
            </span>
      </div>

      <div class="flex gap-3">

        <div class="field w-full">
            <span class="p-float-label">
                <p-dropdown
                  inputId="dropdown0"
                  [autoDisplayFirst]="false"
                  [options]="especies"
                  [(ngModel)]="especie"
                  optionLabel="name"
                  formControlName="especie"
                  [class]="{ 'ng-dirty ng-invalid': f['especie'].invalid && (f['name'].dirty || f['name'].touched) }"
                  (ngModelChange)="onChangeEspecie()"
                ></p-dropdown>
                <label for="dropdown0">Espécie</label>
            </span>
        </div>

        <div class="field w-full">
            <span class="p-float-label">
                <p-autoComplete
                  inputId="autocomplete"
                  [(ngModel)]="raca"
                  [suggestions]="racasAux"
                  (completeMethod)="buscarRacas($event)"
                  field="name"
                  formControlName="raca"
                  [class]="{ 'ng-dirty ng-invalid': f['raca'].invalid && (f['name'].dirty || f['name'].touched) }"
                ></p-autoComplete>
                <label for="autocomplete">Raça</label>
            </span>
        </div>

      </div>

      <div class="flex gap-3">

        <div class="field w-full">
            <span class="p-float-label">
                <p-dropdown
                  inputId="dropdown2"
                  [autoDisplayFirst]="false"
                  [options]="sexos"
                  [(ngModel)]="sexo"
                  optionLabel="name"
                  formControlName="sexo"
                  [class]="{ 'ng-dirty ng-invalid': f['sexo'].invalid && (f['name'].dirty || f['name'].touched) }"
                ></p-dropdown>
                <label for="dropdown1">Sexo</label>
            </span>
        </div>

        <div class="field w-full">
            <span class="p-float-label">
                <p-dropdown
                  [class]="false"
                  inputId="dropdown1"
                  [autoDisplayFirst]="false"
                  [options]="portes"
                  [(ngModel)]="porte"
                  optionLabel="name"
                  formControlName="porte"
                  [class]="{ 'ng-dirty ng-invalid': f['porte'].invalid && (f['name'].dirty || f['name'].touched) }"
                ></p-dropdown>
                <label for="dropdown2">Porte</label>
            </span>
        </div>
      </div>

      <div class="flex gap-3">

        <div class="field w-full">
            <span class="p-float-label">
                <p-calendar
                  inputId="calendar1"
                  [(ngModel)]="dataNascimento"
                  formControlName="dataNascimento"
                  [class]="{ 'ng-dirty ng-invalid': f['dataNascimento'].invalid && (f['dataNascimento'].dirty || f['dataNascimento'].touched) }"
                ></p-calendar>
                <label for="calendar1">Data Nascimento</label>
            </span>
        </div>

        <div class="field w-full">
            <span class="p-float-label">
                <p-calendar
                  inputId="calendar2"
                  [(ngModel)]="dataResgate"
                  formControlName="dataResgate"
                  [class]="{ 'ng-dirty ng-invalid': f['dataResgate'].invalid && (f['dataResgate'].dirty || f['dataResgate'].touched) }"
                ></p-calendar>
                <label for="calendar2">Data Resgate</label>
            </span>
        </div>
      </div>

      <div class="field w-full">
            <span class="p-float-label">
                <textarea
                  inputId="textarea"
                  rows="3"
                  cols="30"
                  [(ngModel)]="descricao"
                  pInputTextarea
                  formControlName="descricao"
                  [class]="{ 'ng-dirty ng-invalid': f['descricao'].invalid && (f['descricao'].dirty || f['descricao'].touched) }"
                ></textarea>
                <label for="textarea">Descrição</label>
            </span>
      </div>

      <div class="field w-full">
        <h5>Imagem do Pet</h5>
        <span class="p-float-label">
            <p-fileUpload chooseLabel="Upload" name="imagem" mode="basic" accept="image/*" [maxFileSize]="5000000" (onUpload)="onBasicUpload()" (onSelect)="onFileSelect($event)"></p-fileUpload>
        </span>
      </div>

    </div>

    <div class="px-2">
      <button type="button" pButton pRipple label="Cadastrar" class="bg-primary border-none px-5 py-3" (click)="onSubmit()"></button>
    </div>

  </form>
</div>
