<footer class="footer text-center text-lg-start text-white bg-dark">
    <div class="container pt-5">
        <div class="row my-4">
            <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <img src="../../../assets/logo-amarelo.svg" height="150" alt="Carrocinha Do Bem" loading="lazy" class="rounded-circle">
                </div>
                <p class="text-center">ONG para adoção de animais</p>
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class="me-3">
                        <a class="text-white" href="#!">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="me-3">
                        <a class="text-white" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 ">
                <h5 class="text-uppercase mb-4">Páginas</h5>
                <ul class="list-unstyled" style="list-style-type: disc;">
                  <li style="margin-bottom: 10px;"><a href="#!" class="text-white" [routerLink]="['HOME']">Tela inicial</a></li>
                  <li style="margin-bottom: 10px;"><a href="#!" class="text-white" [routerLink]="['pets']">Pets para adoção</a></li>
                  <li style="margin-bottom: 10px;"><a href="#!" class="text-white" [routerLink]="['contato']">Contatos</a></li>
                  <li style="margin-bottom: 10px;"><a href="#!" class="text-white" [routerLink]="['nossa-missao']">Nossa missão</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Contato e Endereço</h5>
                <ul class="list-unstyled">
                    <li><p><b>Endereço:</b> R. Imac. Conceição, 1155 - Prado Velho | Curitiba - PR, 80215-901</p></li>
                    <li><p><b>Telefone:</b> <a href="tel:+5541985321225" class="text-white"> +55 (41) 9 8532-1225</a></p></li>
                    <li><p><b>WhatsApp:</b> <a href="tel:+5541985321225" class="text-white">+55 (41) 9 8532-1225</a></p></li>
                    <li><p><b>SAC:</b> <a href="tel:+5541985321225" class="text-white"> +55 (41) 9 8532-1225</a></p></li>
                    <li><p><b>E-mail:</b> <a href="mailto:suporte@carrocinha.com.br" class="text-white"> suporte&#64;carrocinha.com.br</a></p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <p class="mb-0">Copyright © 2024 Carrocinha do Bem. Todos os direitos reservados.</p>
    </div>
</footer>
