<div class="d-flex justify-content-center bg-white">
  <!-- Imagem do Pet -->
  <div class="flex-shrink-1">
    <img src="assets/Gato.svg" alt="Imagem do Pet">
  </div>

  <!-- Formulário de Cadastro -->
  <div class="flex-grow-1 mx-3">
    <!-- Título e Subtítulo -->
    <h1 class="text-center mt-4" style="color: #EEB336;">Cadastro de Animais</h1>
    <p class="text-center text-muted" style="text-decoration: underline;">Preencha o formulário abaixo</p>

    <!-- Formulário -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-body needs-validation px-4 py-2" enctype="multipart/form-data" novalidate>
      <!-- Campos do Formulário -->
      <div class="form-group mb-3" *ngFor="let field of formFields" [class.has-error]="registerForm.get(field.controlName)?.invalid && registerForm.get(field.controlName)?.touched">
        <!-- Rótulo do Campo -->
        <label [for]="field.controlName" class="mb-1">{{field.label}}</label>
        <!-- Campo de Entrada de Texto -->
        <input *ngIf="field.type === 'text'" [type]="field.type" class="form-control form-control-lg form-carrocinha mt-2" [id]="field.controlName" [formControlName]="field.controlName" (change)="onFileSelected($event)" [placeholder]="field.placeholder">
        <!-- Campo de Data -->
        <input *ngIf="field.type === 'date'" [type]="field.type" class="form-control form-control-lg form-carrocinha mt-2" [id]="field.controlName" [formControlName]="field.controlName" [placeholder]="field.placeholder">
        <!-- Campo de Envio de Arquivo -->
        <input *ngIf="field.type === 'file'" [type]="field.type" class="form-control form-control-lg form-carrocinha mt-2" [id]="field.controlName" [formControlName]="field.controlName" (change)="onFileSelected($event)" [placeholder]="field.placeholder">
        <!-- Pré-visualização da Imagem -->
        <img *ngIf="field.type === 'file' && registerForm.get(field.controlName)?.value" id="pet-image-preview" class="img-thumbnail mt-2" alt="Pré-visualização da Imagem">
        <!-- Mensagem de Erro -->
        <div *ngIf="registerForm.get(field.controlName)?.invalid && registerForm.get(field.controlName)?.touched" class="text-danger mt-1">
          {{field.errorMsg}}
        </div>
      </div>

      <!-- Botão de Cadastro -->
      <button type="submit" class="btn btn-primary btn-lg border-0 p-3 text-capitalize fw-semibold" [disabled]="registerForm.invalid" style="background-color: #EEB336; color: #9D6A00;">Cadastrar</button>
    </form>
  </div>
</div>

<!-- Exibição de Erros -->
<div *ngIf="listaErros.length > 0" class="d-flex flex-column alert alert-danger position-absolute top-50 start-50 translate-middle error-box" role="alert">
  <ul class="px-4 d-flex flex-column gap-2">
    <!-- Lista de Erros -->
    <li *ngFor="let erro of listaErros">{{ erro }}</li>
  </ul>
  <!-- Botão de Fechar Modal -->
  <button (click)="fecharModal()" type="button" class="btn btn-danger mx-auto px-3 py-2 mt-3">OK</button>
</div>
