<header  style="background-color: #FBFAFA" class="py-0.5">
  <div class="h-100">
    <div class="d-flex flex-column pt-4">
      <div class="col-1g-10 w-100 " >
        <div class="px-5">
          <h1 class="display-4 mt-2 altera-fontes">CARROCINHA</h1>
        </div>
      </div>
      <div style="background-color: #1F1B17" class="col-1g-10 w-100 p3 pt-2" >
        <div class="px-5">
          <h1 class="display-4 mt-2 mb-1 altera-fontes yellow">DO BEM</h1>
        </div>
      </div>
    </div>
  </div>
  <a [routerLink]="['pets']">
    <img src="../../../assets/banner.jpg"  class="banner" alt="Cachorro feliz em um fundo amarelo">
  </a>
</header>
<main class="pt-5">
  <div class="d-flex flex-column pt-4">
    <div class="col-1g-10 w-100 d-flex flex-row-reverse " >
      <div class="px-5">
        <h2 class="display-4 mt-2 altera-fontes">SOBRE</h2>
      </div>
    </div>
    <div style="background-color: #1F1B17" class="col-1g-10 w-100 py-2" >

      <div class="px-5">
        <h2 style="color: #EEB336" class="display-2 mt-2 mb-2 altera-fontes d-flex flex-row-reverse">NOSSA MISSÃO</h2>
        <div class="d-flex gap-5">
          <img src="../../../assets/dogs.svg" class="dogs mb-4" alt="">
          <p class="display-2 sobre d-flex flex-row-reverse">A missão da "Carrocinha do Bem" é dedicada a resgatar animais em situações de abandono, negligência e maus-tratos, oferecendo-lhes cuidados abrangentes para promover seu bem-estar físico e emocional. Nosso compromisso vai além do resgate inicial; buscamos educar a comunidade sobre posse responsável, esterilização e vacinação, visando prevenir futuros casos de abandono. Além disso, trabalhamos incansavelmente para encontrar lares amorosos e permanentes para cada animal sob nossa proteção, garantindo que eles recebam o amor, cuidado e atenção que merecem. Acreditamos que cada vida animal importa e merece uma chance de viver uma vida digna e feliz, e é essa crença que impulsiona nosso trabalho diário na "Carrocinha do Bem".</p>
        </div>

        <div class="centraliza"> <hr style="color: #EEB336"  class="linha"></div>

        <div>
          <p class="display-4 d-flex sobre" >”Um dia, todos os animais terão um lar amoroso e cuidado. As ruas estarão livres de animais abandonados e os maus-tratos serão apenas uma lembrança do passado. A compaixão e o respeito pelos animais serão valores fundamentais na nossa sociedade. ”
          </p>
          <h5 style="color: #FBFAFA; font-size: 3rem" class="display-4 d-flex flex-row-reverse">- Ator Desconhecido.</h5>
        </div>
      </div>

    </div>
    <div style="background-color: #EEB336" class="back " ></div>>
    <br><br><br><br><br>
  </div>
</main>
