.text{
    display: flex;
        width: 50vw;
        justify-content: space-around;
}
#linha-vertical {
    height: 60px;
    border-right: 2px solid rgb(0, 0, 0);
    margin-right: 10px;
}
.dropdown {
    position: relative;
    margin-right: 10px;
  }
  
  .dropdown-menu {
    
    position: absolute;
    top: 100%;
    left: 0;
  }
  
  .dropdown.show .dropdown-menu {
    display: block;
  }
  .name{
    margin-right: 50px;
  }
  