<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase fw-bold">Carrocinha do Bem</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px;" />
        <p>Adote seu pet hoje</p>
      </div>
      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase fw-bold">Pets</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px;" />
        <p>
          <a href="#!" [routerLink]="['/home']" class="text-white">Ver pets</a>
        </p>
      </div>
      <div class="col-md-4">
        <h6 class="text-uppercase fw-bold">Contatos</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px;" />
        <p><i class="fas fa-home me-3"></i> Curitiba, Paraná</p>
        <p><i class="fas fa-envelope me-3"></i> CarrocinhaDoBem&#64;gmail.com</p>
        <p><i class="fas fa-phone me-3"></i> + 55 (41) 11111-0000</p>
      </div>
    </div>
  </div>
</footer>
