<body style="background-color: #df8c4e;">
    <header style="background-color: #0D0D0D" class="py-5">
        <div class="container h-100">
          <div class="d-flex align-items-center gap-5 pt-4">
            <div class="col-1g-2">
              <img class="rounded-5" src="https://trello.com/1/cards/65e8eabc5d819c5182da9004/attachments/65f38beb30e3dcc81ebe6338/previews/65f38bec30e3dcc81ebe63ed/download/logo-2.png" width="400px" alt=""/>
            </div>
            <div class="col-1g-10">
              <h1 class="display-4 text-white mt-5 mb-2">Olá, campeão 😉</h1>
              <p class="lead mb-5 text-white"> Procurando um novo bichinho? Cadastre-se aqui!! </p>
              <a class="btn btn-primary" routerLink="/usuario-cadastro" role="button">Cadastre-se</a>
            </div>
          </div>
        </div>
      </header>
    </body>
