<form [formGroup]="signupForm" (ngSubmit)="onSubmit()"></form>
    <!-- aqui vem campos de formularios -->
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

aquivo ts

import { Component } from '@angular/core';
import { FormBuilder, FormGroup, Validators } from '@angular/forms';

@Component({
  selector: 'app-signup-form',
  templateUrl: './signup-form.component.html',
  styleUrls: ['./signup-form.component.css']
})
export class SignupFormComponent {
  signupForm: FormGroup;

  constructor(private formBuilder: FormBuilder) {
    this.signupForm = this.formBuilder.group({
      nome: ['', Validators.required],
      email: ['', [Validators.required, Validators.email]],
      senha: ['', Validators.required],
      confirmarSenha: ['', Validators.required],
      concordatermos: [false, Validators.requiredTrue]
    });
  }

  onSubmit() {
    if (this.signupForm.valid) {
      alert('Formulário enviado com sucesso!');
      // Aqui você pode adicionar a lógica para enviar os dados para o servidor, por exemplo:
      // this.authService.signup(this.signupForm.value).subscribe(...);
    } else {
      alert('Por favor, preencha o formulário corretamente.');
    }
  }
}
