<div class="container mt-4">
  <h2 class="text-center">Gerenciar Animais</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let animal of animals">
      <div class="card mb-4">
        <ng-container *ngIf="animal.animalPic">
          <img [src]="animalPicUrl" (click)="loadAnimalPic(animal.id)" class="card-img-top" alt="{{animal.animalName}}">
        </ng-container>
        <div class="card-body">
          <h5 class="card-title">{{ animal.animalName }}</h5>
          <p class="card-text"><strong>Tipo:</strong> {{ animal.animalType }}</p>
          <p class="card-text"><strong>Raça:</strong> {{ animal.breed }}</p>
          <p class="card-text"><strong>Cor:</strong> {{ animal.color }}</p>
          <p class="card-text"><strong>Data de Nascimento:</strong> {{ animal.animalAge }}</p>
          <p class="card-text"><strong>Data de Resgate:</strong> {{ animal.rescueDate }}</p>
          <button class="btn btn-primary border-0 p-3 text-capitalize fw-semibold me-2" style="background-color: #EEB336; color: #22d7b9;" (click)="openEditModal(animal)">Atualizar</button>
          <button class="btn btn-primary border-0 p-3 text-capitalize fw-semibold me-2" style="background-color: #EEB336; color: #da2323;" (click)="deleteAnimal(animal.id)">Deletar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para edição de animais -->
<div class="modal" tabindex="-1" [class.show]="selectedAnimal" style="display: block;" *ngIf="selectedAnimal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Animal</h5>
        <button type="button" class="btn-close" (click)="selectedAnimal = null"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="animalName" class="form-label">Nome</label>
            <input type="text" id="animalName" class="form-control" [(ngModel)]="selectedAnimal.animalName" name="animalName">
          </div>
          <div class="mb-3">
            <label for="animalType" class="form-label">Tipo</label>
            <input type="text" id="animalType" class="form-control" [(ngModel)]="selectedAnimal.animalType" name="animalType">
          </div>
          <div class="mb-3">
            <label for="breed" class="form-label">Raça</label>
            <input type="text" id="breed" class="form-control" [(ngModel)]="selectedAnimal.breed" name="breed">
          </div>
          <div class="mb-3">
            <label for="color" class="form-label">Cor</label>
            <input type="text" id="color" class="form-control" [(ngModel)]="selectedAnimal.color" name="color">
          </div>
          <div class="mb-3">
            <label for="animalAge" class="form-label">Data de Nascimento</label>
            <input type="date" id="animalAge" class="form-control" [(ngModel)]="selectedAnimal.animalAge" name="animalAge">
          </div>
          <div class="mb-3">
            <label for="rescueDate" class="form-label">Data de Resgate</label>
            <input type="date" id="rescueDate" class="form-control" [(ngModel)]="selectedAnimal.rescueDate" name="rescueDate">
          </div>
          <div class="mb-3">
            <label for="animalPic" class="form-label">Imagem</label>
            <input type="file" id="animalPic" class="form-control" (change)="handleFileInput($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary border-0 p-3 text-capitalize fw-semibold" style="background-color: #EEB336; color: #9D6A00;"(click)="selectedAnimal = null">Cancelar</button>
        <button class="btn btn-primary border-0 p-3 text-capitalize fw-semibold" style="background-color: #EEB336; color: #9D6A00;"(click)="saveChanges()">Salvar</button>
      </div>
    </div>
  </div>
</div>
