.banner-container {
    position: relative;
    width: 100%;
    height: 200px; 
    background: url('/assets/hmm.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner-text {
    color: #3d291a; 
    font-size: 24px; 
    font-weight: bold;
  }
  