<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6">
      <form [formGroup]="formPet" (ngSubmit)="adicionar()" class="row">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome do Animal: </label>
          <input type="text" formControlName="nome" class="form-control" id="nome" required>
        </div>
        <div class="mb-3">
          <label for="porte" class="form-label">Porte: </label>
          <input type="text" formControlName="porte" class="form-control" id="porte" required>
        </div>
        <div class="mb-3">
          <label for="descricao" class="form-label">Descrição: </label>
          <textarea formControlName="descricao" class="form-control" id="descricao"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-3">Adicionar</button>
        </div>
      </form>
    </div>
  </div>
</div>
