<div class="profile-container">
    <div class="edit-form">
        <form class="form-body needs-validation px-4 py-2 d-flex flex-column gap-3 mt-5">
            <h1>CONFIGURAÇÃO DE PERFIL</h1>
            <div>
                <input type="text" id="username" placeholder="Nome" class="form-control form-carrocinha" formControlName="username" aria-label="Nome">
            </div>
            <div>
                <input type="text" id="email" placeholder="Email" class="form-control form-carrocinha" formControlName="email" aria-label="Email">
            </div>
            <div>
                <input type="text" id="endereco" placeholder="Endereço" class="form-control form-carrocinha" formControlName="endereco" aria-label="Endereço">
            </div>
            <div>
                <input type="text" id="telefone" placeholder="Telefone" class="form-control form-carrocinha" formControlName="telefone" aria-label="Telefone">
            </div>
            <div>
                <input type="text" id="cpf" placeholder="CPF" class="form-control  form-carrocinha" fomrControlName="cpf" aria-label="CPF">
            </div>

            
        </form>
    </div>
</div>