    <div class="format">
        <div class="profile container">
        <div class="avatar mt-5">
            <div class="user-img">
                <img src="https://tse2.mm.bing.net/th/id/OIP.RYZ8pbxjqQNQ50ytCgXpDAHaHa?rs=1&pid=ImgDetMain" id="picture">
                <input type="file" id="file">
                <label for="file" id="uploadbtn"><i class="bi bi-camera uploadbtn "></i></label>
            </div>
            <button type="button" class="btn btn-danger">Excluir Perfil</button>
        </div>
        <div class="edit-form">
            <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()" class="form-body needs-validation px-4 py-2 d-flex flex-column gap-3 mt-5">
                <h1>CONFIGURAÇÃO DE PERFIL</h1>
                <div>
                    <input type="text" id="username" placeholder="Nome" class="form-control form-carrocinha" formControlName="username" aria-label="Nome">
                    <div *ngIf="perfilForm.get('username')?.errors?.['minlength']" class="text-danger">O nome deve ter no mínimo 4 caracteres.</div>
                    <div *ngIf="perfilForm.get('username')?.errors?.['maxlength']" class="text-danger">O nome deve ter no máximo 100 caracteres.</div>
                    <div *ngIf="perfilForm.get('username')?.errors?.['pattern']" class="text-danger">O nome deve conter apenas letras e espaços.</div>
                </div>
                <div>
                    <input type="text" id="email" placeholder="Email" class="form-control form-carrocinha" formControlName="email" aria-label="Email">
                    <div *ngIf="perfilForm.get('email')?.errors?.['email']" class="text-danger">O campo e-mail deve ser um e-mail válido.</div>
                    <div *ngIf="perfilForm.get('email')?.errors?.['minlength']" class="text-danger">O e-mail deve ter no mínimo 10 caracteres.</div>
                    <div *ngIf="perfilForm.get('email')?.errors?.['maxlength']" class="text-danger">O campo e-mail excedeu o número máximo de caracteres permitidos.</div>
                </div>
                <div>
                    <input type="text" id="endereco" placeholder="Endereço" class="form-control form-carrocinha" formControlName="endereco" aria-label="Endereço">
                    <div *ngIf="perfilForm.get('email')?.errors?.['maxlength']" class="text-danger">O campo endereço excedeu o número máximo de caracteres permitidos.</div>
                </div>
                <div>
                    <input type="text" id="telefone" placeholder="Telefone ex: xx xxxxx-xxxx" class="form-control form-carrocinha" formControlName="telefone" aria-label="Telefone">
                    <div *ngIf="perfilForm.get('telefone')?.errors?.['minlength']" class="text-danger">O telefone deve ter no mínimo 12 caracteres.</div>
                    <div *ngIf="perfilForm.get('telefone')?.errors?.['maxlength']" class="text-danger">O campo telefone excedeu o número máximo de caracteres permitidos.</div>
                    <div *ngIf="perfilForm.get('telefone')?.errors?.['pattern']" class="text-danger">O telefone deve seguir esse padrão xx xxxxx-xxxx.</div>

                </div>
                <div>
                    <input type="date" id="dataNascimento" placeholder="Data de Nascimento" class="form-control  form-carrocinha" formControlName="dataNascimento" aria-label="Data de Nascimento">
                    <div *ngIf="perfilForm.get('dataNascimento') as dataNascimentoControl">
                        <div *ngIf="dataNascimentoControl.errors?.['dataFutura']">
                            A data não pode ser no futuro
                        </div>
                    </div>
                </div>

                <button type="submit (ngSubmit)=onSubmit()" class="btn btn-primary border-0 p-3 text-capitalize fw-semibold" style="background-color: #EEB336; color: #9D6A00;">SALVAR </button>
            </form>
        </div>
    </div>
</div>