.bg-carrocinha {
  background-image: url('../../../assets/front-view-beautiful-dog-with-copy-space.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
body {
  height: 100vh;
  overflow: hidden;
}
.bg-card {
  max-height: 100vh;
  min-height: 8vh; /* Defina uma altura mínima em relação à altura da viewport */
}

.card-body {
  max-width: 600px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.error-box {
  animation: fadeOut 1s ease;
}

@media only screen and (max-width: 768px) {
  .form-body {
    padding: 5px !important;
  }

  .card-body{
    height: 100vh !important;
  }
}
