<body>

<div class="jumbotron text-center bg-light">
    <div class="container">
        <img src="../../../assets/logo-amarelo.svg" height="150" alt="Carrocinha Do Bem" loading="lazy" class="mb-4 mt-5">
        <h1 class="display-4">Nossa Missão</h1>
        <p class="lead">Facilitando a adoção e cuidados dos animais, conectando corações e criando lares felizes.</p>
    </div>
</div>

<div class="container py-5">
    <h2 class="text-center text-secondary mb-4">Como Atuamos</h2>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title"><i class="fas fa-paw"></i> Facilitador de adoção de animais</h5>
                    <p class="card-text">Nosso aplicativo web torna o processo de adoção de animais mais fácil e acessível, conectando adotantes a pets que precisam de um lar.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title"><i class="fas fa-hand-holding-heart"></i> Facilitador de tutoria e doação animal</h5>
                    <p class="card-text">Oferecemos suporte e orientação para novos tutores, além de facilitar doações para ajudar na manutenção e cuidado dos animais.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title"><i class="fas fa-globe"></i> Vitrine para ONG com pouca visibilidade</h5>
                    <p class="card-text">Proporcionamos uma plataforma para ONGs menores, aumentando sua visibilidade e permitindo que alcancem um público maior.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title"><i class="fas fa-phone"></i> Facilitador do contato de adotantes com organização doadora de animais</h5>
                    <p class="card-text">Facilitamos a comunicação entre adotantes e organizações doadoras, garantindo que todos os animais encontrem um lar amoroso e adequado.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
