
<nav class="navbar navbar-expand-lg px-2"
style="background-color: #EEB336;">
    <div class="container-fluid ">
        <a class="navbar-brand " href="#">
            <img src="../../../assets/Group.svg" alt="" width="80" height="50" href="home">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto text d-flex gap-4">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['pets']">Pets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['doacoes']">Doações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['contato']">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['nossa-missao']">Nossa missão</a>
          </li>
        </ul>
        <div class="d-flex gap-2 deslogado" *ngIf="!estaLogado()">
          <button type="button" class="btn btn-outline-light btn-lg" (click)="goToLogin()">Entrar</button>
          <button type="button" class="btn btn-light btn-lg" (click)="goToRegister()">Cadastrar</button>
        </div>
        <div class="logado d-flex justify-content-center align-items-center" *ngIf="estaLogado()">
         <div id="linha-vertical"></div>
         <div class="dropdown" [class.show]="isDropdownOpen">
           <a (click)="toggleDropdown(true)" class="dropdown-toggle d-flex align-items-center hidden-arrow" id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
             <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="40" alt="Black and White Portrait of a Man" loading="lazy"/>
           </a>
           <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
             <li>
               <a class="dropdown-item" [routerLink]="['perfil-edit']">Meu Perfil</a>
             </li>
             <li>
               <a class="dropdown-item" href="#">Configurações</a>
             </li>
             <li>
               <a class="dropdown-item" href="#" (click)="logout()">Sair</a>
             </li>
           </ul>
         </div>
          <a class="nav-link active " [routerLink]="['perfil-edit']">Bem vindo, Nome!</a>
       </div>

      </div>
    </div>
  </nav>
