.bg-carrocinha {
    background-image: url('../../../assets/front-view-beautiful-dog-with-copy-space.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
body {
    height: 100vh;
}
.bg-card {
    max-height: 100vh;
    min-height: 8vh; /* Defina uma altura mínima em relação à altura da viewport */
}
.mb-4{
    max-height: 9vh;
}
