<section class="  ">    
  <div class="mask d-flex align-items-center gradient-custom-3 w-auto bg-carrocinha">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4 bg-card" style="background-color: #FFFFFF;">
                <img class=" rounded mx-auto d-block" src="../../../assets/logo.svg" alt="Logo">
  
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  
                  <div class="" *ngIf="signupForm">
                    <input type="text" id="nome" placeholder="nome" class="form-control form-control-lg form-carrocinha" formControlName="nome" [required]="signupForm.get('nome')?.errors?.['required']">
                    <div *ngIf="signupForm.get('nome')?.invalid && (signupForm.get('nome')?.dirty || signupForm.get('nome')?.touched)" class="invalid-feedback">
                        <div *ngIf="signupForm.get('nome')?.errors?.['required']">Nome é obrigatório.</div>
                    </div>
                </div>
  
                <div class="mb-4">
                  <label for="email" class="form-label"></label>
                  <input type="email" class="form-control form-control-lg form-carrocinha" id="email" aria-describedby="emailHelp" placeholder="e-mail" formControlName="email" [required]="signupForm.get('email')?.errors?.['required']">
                  <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)" class="invalid-feedback">
                      <div *ngIf="signupForm.get('email')?.errors?.['required']">Email é obrigatório.</div>
                  </div>
              </div>
              
              <div class="mb-4">
                  <label for="senha" class="form-label"></label>
                  <input type="password" class="form-control form-control-lg form-carrocinha" id="senha" placeholder="senha" formControlName="senha" [required]="signupForm.get('senha')?.errors?.['required']">
                  <div *ngIf="signupForm.get('senha')?.invalid && (signupForm.get('senha')?.dirty || signupForm.get('senha')?.touched)" class="invalid-feedback">
                      <div *ngIf="signupForm.get('senha')?.errors?.['required']">Senha é obrigatória.</div>
                  </div>
              </div>
              
              <div class="mb-4">
                  <label for="confirmarSenha" class="form-label"></label>
                  <input type="password" class="form-control form-control-lg form-carrocinha" id="confirmarSenha" placeholder="confirmar senha" formControlName="confirmarSenha" [required]="signupForm.get('confirmarSenha')?.errors?.['required']">
                  <div *ngIf="signupForm.get('confirmarSenha')?.invalid && (signupForm.get('confirmarSenha')?.dirty || signupForm.get('confirmarSenha')?.touched)" class="invalid-feedback">
                      <div *ngIf="signupForm.get('confirmarSenha')?.errors?.['required']">Confirmação de senha é obrigatória.</div>
                  </div>
              </div>
              
  
                  <div class="form-check mb-4 mt-5 ">
                    <input class="form-check-input form-check-carrocinha" type="checkbox" id="concordatermos" formControlName="concordatermos" required>
                    <label class="form-check-label" for="concordatermos">
                     concordo com os <a href="#!" class="text-body"><u>termos e serviços</u></a>
                    </label>
                    <div class="invalid-feedback">
                      Você deve concordar com os termos de serviço.
                    </div>
                  </div>
  
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary " style="background-color: #EEB336;">Cadastrar</button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">Já possui uma conta? <a href="#!" class="fw-bold text-body"><u>Login aqui</u></a></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  