.bg-carrocinha {
    background-image: url('../../../assets/front-view-beautiful-dog-with-copy-space.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
body {
    height: 100vh;
    overflow: hidden;
}
.bg-card {
    max-height: 100vh;
    min-height: 8vh; /* Defina uma altura mínima em relação à altura da viewport */
}
.mb-4{
    max-height: 9vh;
}

ul {
  list-style: none;
  padding: 0;
}

@keyframes fadeOut {
  from {
    opacity: 0; /* Começa com opacidade 1 (totalmente visível) */
  }
  to {
    opacity: 1; /* Termina com opacidade 0 (totalmente transparente) */
  }
}

/* Aplica a animação à div */
.error-box {
  animation: fadeOut 1s ease; /* Usa a animação 'fadeOut' com duração de 0.5 segundos */
}
