.bg-carrocinha {
  background-image: url('../../../assets/front-view-beautiful-dog-with-copy-space.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; /* Adicionado para garantir que a largura da imagem de fundo cubra toda a largura da viewport */
}

.mask {
  overflow: hidden; /* Adicionado para evitar que o conteúdo vaze para fora da div */
}

body, html {
  height: 100%;
  margin: 0; /* Adicionado para remover margens padrão do body e html */
}

.bg-card {
    max-height: 100vh;
    min-height: 8vh; /* Defina uma altura mínima em relação à altura da viewport */
}
.mb-4{
    max-height: 9vh;
}

ul {
  list-style: none;
  padding: 0;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error-box {
  animation: fadeOut 1s ease;
}

@media only screen and (max-width: 768px) {
    .form-body {
        padding: 5px !important;
        font-size: .8rem;
    }

    .card-body{
        height: 100vh !important;
    }

    .logo {
        width: 200px !important;
        height: 100px !important;
    }
}
.btn i {
  font-size: 1.2rem;
}
.form-body {
  padding: 0.1% !important; /* Reduzindo em 10% o padding */
  font-size: .8rem;
}
.text-danger {
  display: block;
  font-size: 14px;
  color: red;
  height: 20px; /* Tamanho fixo para o elemento de erro */
  overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse o tamanho definido */
}

