html, body {
    background-color: #eeaf2b;
}
.altera-fontes {
    font-style: normal; 
    font-size: 6rem; 
    font-family: "Rockwell"; 
 
 }
 .banner{
    max-width: 100%;
 }
 .dogs{
    width: 400px;
    height: 300px;
 }
 .sobre{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
 }
 .linha {
   height:2px;
   width: 96%;
   border: none;
   background: #eeaf2b;
   opacity: 100%;
 }
 .centraliza {
   display: flex;
   justify-content: center;
 }
 .albert {
   font-size: 25px;
   padding-left: 70px;
   font-family: 'Courier New', Courier, monospace;
 }
 .back{
   height:200px;
   width: 100%;
   border: none;
   background: #eeaf2b;
   opacity: 100%;
 }
