<header  style="background-color: #FFFFFF" class="py-0.5">
    <div class=" h-100">
      <div class="d-flex flex-column    pt-4">
        <div style="background-color: #FFFFFF" class="col-1g-10 w-100 " >
          <h1 class="display-4 mt-2 altera-fontes">CARROCINHA</h1>
        </div>
        <div style="background-color: #000000" class="col-1g-10 w-100 p3 " >
          <h1 style="color: #EEB336" class="display-4 mt-2 mb-2 altera-fontes">DO BEM</h1>
        </div>
      </div>
    </div>
  </header>
    <img src="../../../assets/banner.jpg"  class="banner" alt="">
    <div class="d-flex flex-column    pt-4">
      <div style="background-color: #FFFFFF" class="col-1g-10 w-100 d-flex flex-row-reverse " >
        <h1 class="display-4 mt-2 altera-fontes">SOBRE</h1>
      </div>
      <div style="background-color: #000000" class="col-1g-10 w-100  " >
        <h1 style="color: #EEB336" class="display-4 mt-2 mb-2 altera-fontes d-flex flex-row-reverse">NOSSA MISSÃO</h1>
        <img src="../../../assets/dogs.svg" class="dogs mb-4" alt="">
        <h1 style="color: #FFFFFF" class="display-4 sobre d-flex flex-row-reverse">A missão da "Carrocinha do Bem" é dedicada a resgatar animais <br> em situações de abandono, negligência e maus-tratos,<br> oferecendo-lhes cuidados abrangentes para promover seu bem<br>-estar físico e emocional. Nosso compromisso vai além do resgate<br> inicial; buscamos educar a comunidade sobre posse responsável,<br> esterilização e vacinação, visando prevenir futuros casos de<br> abandono. Além disso, trabalhamos incansavelmente para<br> encontrar lares amorosos e permanentes para cada animal sob<br> nossa proteção, garantindo que eles recebam o amor, cuidado e<br> atenção que merecem. Acreditamos que cada vida animal importa<br> e merece uma chance de viver uma vida digna e feliz, e é essa<br> crença que impulsiona nosso trabalho diário na "Carrocinha do Bem".</h1>
      </div>
    </div>
    
    
  
    
  