html, body {
  background-color: #eeaf2b;
  box-sizing: border-box;
}

.altera-fontes {
  font-style: normal;
  font-size: 4rem;
  font-family: "Rockwell", serif;
}

p {
  font-family: "Montserrat", serif !important;
  color: #EDE7E1;
  letter-spacing: 1.5px;
  line-height: 1.6rem;
  font-size: 1.125rem;
  text-align: justify;
}

 .banner{
    max-width: 100%;
    cursor: pointer;
 }
 .dogs{
    width: 400px;
    height: 300px;
 }
 .sobre{
    font-family: 'Courier New', Courier, monospace;
 }
 .linha {
   height:2px;
   width: 96%;
   border: none;
   background: #eeaf2b;
   opacity: 100%;
 }
 .centraliza {
   display: flex;
   justify-content: center;
 }
 .albert {
   font-size: 25px;
   padding-left: 70px;
   font-family: 'Courier New', Courier, monospace;
 }
 .back{
   height:200px;
   width: 100%;
   border: none;
   background: #eeaf2b;
   opacity: 100%;
 }

 .yellow {
   color: #eeaf2b;
 }
