<div class="card">
  <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8">
    <h2 class="text-center">Carrocinha do Bem, levando o lar, <span class="text-primary">trazendo o bem</span></h2>
    <p>A Carrocinha do Bem é uma ONG dedicada ao cuidado e bem-estar dos animais, nascida em Curitiba-PR, dentro do ambiente inspirador da PUCPR durante um projeto de estudo. Nosso propósito é claro e apaixonado: promover a adoção responsável e educar a sociedade sobre o respeito e a compaixão que todos os seres vivos merecem.</p>

    <div class="my-5">
      <h3>Nossa Missão</h3>
      <p>Nossa missão é proporcionar um lar amoroso e permanente para cada pet resgatado. Valorizamos profundamente a compaixão e a responsabilidade, acreditando que cada animal merece uma vida digna e feliz. Trabalhamos incansavelmente para resgatar, reabilitar e encontrar famílias dedicadas para animais abandonados e maltratados.</p>
    </div>
    <div class="my-5">
      <h3>O Que Fazemos</h3>
      <ul>
        <li><b>Resgate e Reabilitação:</b> Nossa equipe dedicada atua no resgate de animais em situação de abandono ou maus-tratos. Cada animal recebe cuidados veterinários, carinho e reabilitação para que possam se recuperar física e emocionalmente.</li>
        <li><b>Adoção Responsável:</b> Promovemos a adoção responsável através de campanhas e eventos. Cada adoção é acompanhada de um processo criterioso para garantir que os animais sejam acolhidos por lares preparados e amorosos.</li>
        <li><b>Educação e Conscientização:</b> Acreditamos que a mudança começa com a educação. Realizamos palestras, workshops e campanhas de conscientização para informar a comunidade sobre a importância da adoção, do cuidado e do tratamento ético dos animais.</li>
      </ul>
    </div>
    <div class="my-5">
      <h3>Adoção Virtual e Apadrinhamento</h3>
      <p>Para aqueles que não podem adotar, oferecemos a opção de adoção virtual e apadrinhamento. Com a adoção virtual, você pode acompanhar de perto a vida de um animal específico, contribuindo para seus cuidados e bem-estar. Já o apadrinhamento permite que você apoie financeiramente os cuidados de um animal, ajudando a proporcionar tudo o que ele precisa para uma vida saudável e feliz.</p>
    </div>
    <div class="my-5">
      <h3>Junte-se a Nós</h3>
      <p>Na Carrocinha do Bem, acreditamos que juntos podemos fazer a diferença. Seja adotando, apadrinhando, ou simplesmente apoiando nossa causa, cada ação conta. Venha fazer parte dessa corrente de amor e responsabilidade, e ajude-nos a construir um futuro melhor para nossos amigos de quatro patas.</p>
    </div>
    <div class="col-12 mt-3 mb-3 p-2 md:p-8 bg-black-alpha-80 w-full  m-auto" style="border-radius:20px;">
      <div class="flex flex-column gap-3 justify-content-center align-items-center text-center px-3 py-2 md:py-0">
        <div class="flex flex-column gap-1">
          <h3 class="mb-2 text-white">Mark Twain</h3>
          <span class="text-gray-300 text-2xl">Lições da Vida</span>
        </div>
        <p class="text-gray-900 sm:line-height-2 md:line-height-4 text-2xl mt-4 text-white" style="max-width:800px;">“Se você pegar um cachorro faminto e torná-lo próspero, ele não o morderá. Essa é a principal diferença entre um cachorro e um homem.”</p>
      </div>
    </div>

    <div class="my-5 px-8 pt-5 bg-gray-100 py-1 border-round">
      <cite>
        Para saber mais sobre como ajudar ou adotar, visite nosso site ou entre em contato conosco. Sua participação pode transformar a vida de um animal e trazer mais amor e alegria para sua vida.
        <br>
        <h6>Carrocinha do Bem - Porque todo animal merece um lar amoroso e uma vida digna.</h6>
      </cite>
    </div>
  </div>
</div>
