
<div class="card surface-section text-center">
  <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8">
    <div class="mb-3 font-bold text-2xl">
      <span class="text-900">Nossos Valores, </span>
      <span class="text-primary">Nossa Missão</span>
    </div>
    <div class="text-700 text-sm mb-6">Nossa organização sem fins lucrativos se dedica à causa animal, liderando a luta contra o mal-estar e o sofrimento dos animais.</div>
    <div class="grid">
      <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card " style="border-radius: 10px">
                <i class="pi pi-home text-4xl text-primary"></i>
            </span>
        <div class="text-900 mb-3 font-medium">Dando Lar</div>
        <span class="text-700 text-sm line-height-3">Proporcionamos lares temporários e permanentes para animais resgatados.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-apple text-4xl text-primary"></i>
            </span>
        <div class="text-900 mb-3 font-medium">Trazendo alimento</div>
        <span class="text-700 text-sm line-height-3">Garantimos alimentação adequada para animais em situação de risco.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-volume-up text-4xl text-primary"></i>
            </span>
        <div class="text-900 mb-3 font-medium">Voz a Causas</div>
        <span class="text-700 text-sm line-height-3">Defendemos os direitos dos animais e promovemos conscientização.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-heart text-4xl text-primary"></i>
            </span>
        <div class="text-900 mb-3 font-medium">Levamos Amor</div>
        <span class="text-700 text-sm line-height-3">Espalhamos amor e cuidados para animais necessitados.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi pi-users text-4xl text-primary"></i>
            </span>
        <div class="text-900 mb-3 font-medium">Apadrinhados e benefícios</div>
        <span class="text-700 text-sm line-height-3">Oferecemos programas de apadrinhamento para beneficiar animais resgatados.</span>
      </div>
      <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-info-circle text-4xl text-primary"></i>
            </span>
        <div class="text-900 mb-3 font-medium">Causa Animal</div>
        <span class="text-700 text-sm line-height-3">Lutamos pelos direitos e bem-estar dos animais em todas as frentes.</span>
      </div>
    </div>
  </div>
</div>
