/* You can add global styles to this file, and also import other style files */

body {
    height: 100%;

  }

body, html {
  font-family: 'Poppins', sans-serif;

}

.form-carrocinha{
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 20px;
  padding: 1.8rem 1.5rem;
  font-size: 16px;
  color: #726C5E;
  background: #FBFAFA;
}
.form-carrocinha::placeholder{
  color: #726C5E;
}
.form-check-carrocinha {
  background: #FBFAFA;
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.form-check-input:checked {
  background-color: #EEB336;
  border-color: #151515;
}
.form-check-input:focus {
  border-color: #EEB336;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(214, 190, 6, 0.25);
}

